.App {
	/*padding: 30px;*/
	/*display: flex;*/
	/*background-color: #ddd;*/
}

.App > div {
	/*margin-right: 50px;*/
}

.todoList {
	background-color: #c18e69;
	border: 1px solid #333;
	border-radius: 5px;
	padding: 15px;
}

.error {
	border: 1px solid red;
}

.error-message {
	color: red;
}

.active-filter {
	background-color: aquamarine;
}

.is-done {
	opacity: 0.5;
}

.titleInput input {
	height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.titleInput label {
	/*transform: translate(14px, 4px) scale(1);*/
	/*TODO*/
}

.addTodoList {
	display: flex;
	justify-content: center;
	width: 50%;
	min-width: 480px;
	margin: 30px auto;
	gap: 10px;
}

.addTodoList .titleInput {
	flex-grow: 1;
}

.listsContainer {
	display: flex;
	justify-content: center;
	gap: 30px;
	flex-direction: row;
	flex-wrap: wrap;
}

.listsContainer .addTodoList {
	width: 100%;
	min-width: auto;
}